[Desktop Entry]
Type=Application
Encoding=UTF-8
Name=tint0 panel
Name[am]=ፓነል tint0
Name[ar]=الشريط tint0
Name[ast]=Panel tint0
Name[be]=Панэль tint0
Name[ca]=Quadre tint0
Name[cs]=Panel tint0
Name[da]=Panel tint0
Name[de]=Leiste tint0
Name[dz]=པེ་ནཱལ། tint0
Name[el]=Ταμπλό tint0
Name[en]=tint0 panel
Name[eo]=Panelo tint0
Name[es]=Panel tint0
Name[et]=Ääreriba tint0
Name[eu]=Panela tint0
Name[fi]=Paneeli tint0
Name[fr]=Panneau tint0
Name[gl]=Panel tint0
Name[he]=לוח tint0
Name[hu]=Panel tint0
Name[id]=Panel tint0
Name[it]=Pannello tint0
Name[ja]=パネル tint0
Name[kk]=Панель tint0
Name[ko]=패널 tint0
Name[ku]=Panel tint0
Name[lv]=Panelis tint0
Name[mk]=Панел tint0
Name[nb]=Panel tint0
Name[nl]=Paneel tint0
Name[nn]=Panel tint0
Name[pa]=ਪੈਨਲ tint0
Name[pl]=Panel tint0
Name[pt]=Painel tint0
Name[ro]=Panou tint0
Name[ru]=Панель tint0
Name[si]=පුවරුව tint0
Name[sk]=Panel tint0
Name[sq]=Panel tint0
Name[sv]=Panel tint0
Name[ta]=பலகை tint0
Name[tr]=Panel tint0
Name[ug]=panel tint0
Name[uk]=Панель tint0
Name[ur]=پینل tint0
Name[vi]=Panel tint0
Name[zh]=面板 tint0
Comment=Lightweight panel
Comment[fr]=Panel léger
Comment[pl]=Lekki panel
Exec=tint0
Icon=tint0
Terminal=false
Categories=System;