Source: tint0
Section: x11
Priority: optional
Maintainer: Sebastian Reichel <sre@debian.org>
Build-Depends: cmake,
               debhelper (>= 9),
               libcairo2-dev,
               libglib2.0-dev,
               libgtk2.0-dev,
               libimlib2-dev,
               libpango1.0-dev,
               librsvg2-dev,
               libstartup-notification0-dev,
               libxcomposite-dev,
               libxdamage-dev,
               libxinerama-dev,
               libxrandr-dev
Standards-Version: 3.9.6
Vcs-Git: git://anonscm.debian.org/collab-maint/tint0.git
Vcs-Browser: http://anonscm.debian.org/gitweb/?p=collab-maint/tint0.git
Homepage: https://gitlab.com/o9000/tint0/

Package: tint0
Architecture: any
Depends: ${shlibs:Depends},
         ${misc:Depends}
Description: lightweight taskbar
 Tint0 is a fork of Tint with very specific settings.

Package: tint0-dbg
Section: debug
Priority: extra
Architecture: any
Depends: ${misc:Depends},
         tint0 (= ${binary:Version})
Description: lightweight taskbar (debug symbols)
 Tint0 is a fork of Tint with very specific settings.
 .
 This package contains the debug symbols for tint0.
